﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="nav">
        <ul>
            <li><a href="index.html">Home</a></li>

            <li>
                <a>What is RSI</a>
                <ul>
                    <li><a href="about.html">About RSI</a></li>
                    <li><a href="survivalguide/whatisrsi.html">What Is RSI</a></li>
                    <li><a href="survivalguide/corevalue.html">Core Values</a></li>
                    <li><a href="survivalguide/source.html">The Source</a></li>
                    <li><a href="survivalguide/rsiculture.html">RSI Culture</a></li>
                </ul>
            </li>
            <li>
                <a>Who is RSI</a>
                <ul>
                    <li><a href="survivalguide/leaders.html">RSI Leaders</a></li>
                    <li><a href="contact.html">Colleagues</a></li>
                    <li><a href="survivalguide/itsupport.html">IT Support</a></li>
                </ul>
            </li>
            <li>
                <a>Where is RSI</a>
                <ul>
                    <li><a href="survivalguide/centers.html">RSI Development Centers</a></li>
                    <li><a href="map.html">Office Map</a></li>
                </ul>
            </li>
            <li>
                <a>What to know</a>
                <ul>
                    <li><a href="survivalguide/itsecurity.html">IT</a></li>
                    <li><a href="survivalguide/training.html">Training</a></li>
                    <li><a href="survivalguide/bench.html">The Bench</a></li>
                </ul>
            </li>
            <li>
                <a>RSI Terms</a>
                <ul>
                    <li><a href="survivalguide/glossary.html">Glossary</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="12u">
                            <!--Contact-->
                            <section class="contact">
                                
                                    <h3>Want to hear from us on social media?</h3>
                                
                                <p>Rural Sourcing Inc. is available on the following services</p>
                                <ul class="icons">
                                    <li><a href="https://twitter.com/RuralSourcing" class="fa fa-twitter"><span class="label"></span></a></li>
                                    <li><a href="https://www.facebook.com/RuralSourcing/" class="fa fa-facebook"><span class="label"></span></a></li>
                                    <li><a href="https://www.linkedin.com/company/rural-sourcing-inc-" class="fa fa-linkedin"><span class="label"></span></a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
