.nav {
    font-family: "Helvetica";
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #CD0000;
    color: #FFFFFF;
    width: 100%;
    height: 41px;
    z-index: 1000;
    border-bottom: 1px solid #FFFFFF;
}

    .nav ul {
        padding: 0;
        margin: 0 0 5px -15px;
    }

    .nav li {
        display: inline-block;
        margin: 0 10px;
    }

    .nav a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 0.8em;
    }

        .nav a:hover {
            color: #999999;
        }

    .nav label, form {
        color: #FFFFFF;
    }

    .nav form {
        display: inline-block;
        font-size: 0.8em;
    }

    .nav input, .nav select {
        min-width: 50px;
    }

.header {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.sidePaneClass {
    position: fixed;
    background-color: #222222;
    width: 13%;
    min-width: 205px;
    z-index: 1030;
    top: 42px;
    left: 0;
    padding-bottom: 10000px;
    color: #999999;
}

#unassigned {
    text-align: center;
    height: 150px;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    background: linear-gradient(120deg, #666666, #222222);
    color: #FFFFFF;
    border: 6px inset #4E4E4E;
}

#properties {
    margin: 0;
    text-align: center;
    height: 280px;
    background-color: #CD0000;
    color: #FFFFFF;
    display: none;
    font-size: 0.7em;
}

    #properties p {
        margin: 0;
        padding: 0;
        padding-top: 120px;
    }

    #properties h2 {
        padding: 0;
        margin-top: 0;
    }

    #properties table tr td:first-child {
        text-align: left;
        /*border-right: 1px solid #CCCCCC;*/
    }

    #properties table tr td {
        border-bottom: 1px solid #CCCCCC;
        width: 50%;
    }

    #properties table {
        margin-top: 0;
        display: block;
        width: 95%;
        margin: auto;
        border-collapse: collapse;
    }

    #properties form {
        padding-top: 60px;
        margin: 0 auto;
        width: 90%;
    }

    #properties fieldset {
        padding-top: 10px;
        width: 85%;
        height: 85%;
        margin: auto;
    }

.sidePaneClass ul {
    display: block;
    margin: 5px auto 5px auto;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

sidePaneClass li {
    display: inline-block;
}

.sidePaneClass div a {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    text-align: center;
    display: block;
    float: right;
    text-decoration: none;
    background-color: #CCCCCC;
    color: #000000;
    border: 2px outset #FFFFFF;
    width: 70px;
    font-size: 12px;
}

    .sidePaneClass div a:hover {
        border: 2px inset #FFFFFF;
    }

.sidePaneClass div input, .sidePaneClass div select {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 0.8em;
    width: 70px;
}

.sidePaneClass form {
    width: 80%;
    display: block;
    margin: 5px auto;
    text-align: center;
}

    .sidePaneClass form input {
        font-size: 16px;
    }

.sidePaneClass button {
    display: block;
    margin: 2px auto;
    font-size: 12px;
    text-align: center;
}

.mapClass {
    margin-top: 71px;
    margin-left: 250px;
    background-size: 100% 100%;
    z-index: -50;
    background-image: url("/Images/Maps/AugustaMap.png");
    width: 3098px;
    height: 1653px;
}

#unassigned .colleagues {
    margin: 5px;
    border: 2px outset #ffffff;
    width: 45px;
    height: 50px;
    padding: 5px;
    font-size: 8px;
}

.colleagues {
    display: inline-block;
    width: 50px;
    height: 55px;
    margin: -5px;
    padding: 10px;
    border: 1px inset #FFFFFF;
    border-radius: 10px;
    /*border-radius: 50%;*/
    background-color: #FFFFFF;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    overflow: hidden;
    z-index: 25;
}

    .colleagues:hover {
        border: 2px outset #ffffff;
        box-shadow: 3px 3px 3px #000000;
        padding: 11px;
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }

hr {
    margin: 0;
    padding: 0;
}

.desks {
    width: 65px;
    height: 70px;
    margin: 10px;
    border: 3px inset #aaaaaa;
    border-radius: 10px;
    /*border-radius: 50%;*/
    text-align: center;
    position: absolute;
    background: linear-gradient(120deg, #CCCCCC, #7D7D7D);
    z-index: 0;
    top: 200px;
    left: 500px;
}

.desksDraggable {
    width: 65px;
    height: 70px;
    margin: 10px;
    border: 2px inset #aaaaaa;
    border-radius: 10px;
    /*border-radius: 50%;*/
    text-align: center;
    position: absolute;
    background-color: #CCCCCC;
    z-index: 0;
    top: 200px;
    left: 500px;
}

    .desksDraggable:hover {
        cursor: -webkit-grab;
        cursor: -moz-grab;
    }

.search {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #999999;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .search input {
        width: 100px;
        font-size: 10px;
    }

    .search select {
        width: 100px;
        font-size: 12px;
    }

#saveArea {
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;
    background-color: #222222;
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #999999;
}

#saveArea2 {
    position: fixed;
    float: right;
    bottom: 0;
    right: 0;
    background-color: #222222;
    width: 300px;
    height: 40px;
    text-align: center;
    border: 1px solid #999999;
}

#saveArea button {
    font-size: 12px;
    margin-top: 10px;
}

#saveArea2 button {
    font-size: 12px;
    margin: 10px 5px;
}

#area1 {
    text-align: center;
    color: #ffffff;
}

    #area1 h2 {
        margin: 5px;
        display: block;
        font-size: 0.8em;
    }

        #area1 h2:hover {
            color: #222222;
            background-color: #CCCCCC;
            cursor: pointer;
        }

#legendArea {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 41px;
    width: 510px;
}

#expandArea {
    display: block;
    width: 100px;
    margin: auto;
    background-color: #222222;
    color: #CCCCCC;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: -2px;
    border-bottom: 3px solid #aaaaaa;
    border-left: 3px solid #aaaaaa;
    border-right: 3px solid #aaaaaa;
    border-radius: 0 0 40px 40px;
}

    #expandArea:hover {
        cursor: pointer;
        background-color: #aaaaaa;
        color: #222222;
    }

.tableLegend {
    display: block;
    display: none;
    border: 3px solid #aaaaaa;
    background-color: #222222;
    color: #CCCCCC;
    margin: auto;
    font-size: 0.8em;
    width: 460px;
    height: 220px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

.clickable:hover {
    cursor: pointer;
}

/*.tableLegend td:nth-of-type(even) {
    padding: 0;
    width: 25px;
    height: 70px;
}

.tableLegend td:nth-of-type(odd) {
    padding: 0;
    width: 57px;
    height: 70px;
}*/

#externalArea {
    position: fixed;
    text-align: center;
    left: 20%;
    top: 41px;
    width: 506px;
}

#expandArea1 {
    display: block;
    width: 100px;
    margin: auto;
    background-color: #222222;
    color: #CCCCCC;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: -2px;
    border-bottom: 3px solid #aaaaaa;
    border-left: 3px solid #aaaaaa;
    border-right: 3px solid #aaaaaa;
    border-radius: 0 0 40px 40px;
}

    #expandArea1:hover {
        cursor: pointer;
        background-color: #aaaaaa;
        color: #222222;
    }

.externalColleagues {
    display: block;
    display: none;
    border: 3px solid #aaaaaa;
    background-color: #222222;
    color: #CCCCCC;
    margin: auto;
    width: 500px;
    height: 220px;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #FFFFFF;
}

    .externalColleagues > .colleagues {
        margin: 5px;
        border: 2px outset #ffffff;
    }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#question {
    cursor: default;
}

    #question h1 {
        font-size: 1.6em;
    }

    #question input {
        margin: 15px;
        padding: 5px 10px;
        font-size: 1.2em;
    }
