﻿@{
    ViewBag.Title = "About Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | About RSI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
   
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

        
            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2><a>About RSI</a></h2>
                    </header>
                    <div class="iframe-holder">
                        <iframe style="display:block; margin-left: auto; margin-right: auto; width: 90%;" id="iframe_container" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" width="1280" height="720" src="https://prezi.com/embed/aiun0cqxpxru/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWnNjdEVENDRhZDFNZGNIUE1Jc3ZUMGhGT09sWGJUZUV0bFFwbjZnbVFUVkJlYlU3MEJmRjFzS3ZRPT0&amp;landing_sign=mt2k51enpt7YsfcblXdi30d3ZoGvNyFYX63VHJ2IMl4"></iframe>
                    </div>
                </article>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>