﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Albuquerque,</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

        
            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        Albuquerque (ABQ)<br />
                        723 Silver Ave SW - Albuquerque, NM 87102<br />
                        505.218.8500 - Mountain Time Zone

                    </h2>

                </header>
            </article>

            <a class="image featured"><img src="~/Images/rsi_abq.png" alt="" /></a>

            <section>
                <div class="row" style="display: block; margin-left: auto; margin-right: auto; width: 532px;">
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/profiles/paige.jpg">
                        <h7>Paige Briggs</h7>
                        <h7>Center Leader</h7>
                    </div>
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/profiles/serah.jpg">
                        <h7>Serah Tyler</h7>
                        <h7>Center HR and Recruiting</h7>
                    </div>
                </div>
            </section>

            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    Albuquerque is the largest city in New Mexico (no, it’s not a
                    foreign country!) and home to the University of New Mexico
                    (Go Lobos!). Located just yards from Historic Route 66, the
                    ABQ Development Center is housed in a building constructed
                    in 1951 by the Southern Union Gas Company in the so-called
                    “International” architectural style, which features lots of glass
                    and lots of aluminum.
                </h3>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    The building was placed on the National Register of Historic
                    in 2004. Most recently it served as the downtown
                    location of a trendy local eatery and coffee shop chain. In the
                    summer of 2016, the Center moved from temporary offices
                    into this permanent home following its complete remodeling.
                </h3>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>