﻿@{
    ViewBag.Title = "Activities Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | Activities</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Inner -->
            <div class="inner">

                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>

            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a> RSI Albuquerque Culture </a></h2>
                    </header>
                    <a class="image featured"><img src="~/Images/activities_abq.png" alt="" /></a>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Break Time!</h2>
                        </header>
                        <h3>
                            We understand how stressful programming all day, every single day can be so we have plenty of activities to
                            do while you take some break time to be more productive when you get back to your desk.
                        </h3>
                        <h3>
                            RSI Albuquerque has a ping pong table, a cornhole, plenty of drone-friendly space, card games, and more.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Table Tennis</h2>
                        </header>
                        <p style="display:block; margin-left: auto; margin-right: auto; width: 640px;"><img src="~/Images/activities/volley.gif"></p>
                        <h3>
                            RSI Albuquerque takes ping pong quite seriously. Some of the people sitting around you might be more competitive
                            than you might expect when it comes to the game.
                        </h3>
                        <h3>
                            Check out the board downstairs to see the top scores some of your colleagues have gotten in the past, you might even
                            be on the top scores list in the future!
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Cornhole</h2>
                        </header>
                        <p style="display:block; margin-left: auto; margin-right: auto; width: 640px;"><img src="~/Images/activities/cornhole.gif"></p>
                        <h3>
                            It might be loud but to tune your hand-eye coordination, it's worth it! Toss the beanbag into the hole: it's a pretty
                            simple yet challenging game that could leave you frustrated, but when you land a toss you'll feel victorious.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Card Games</h2>
                        </header>
                        <p style="display:block; margin-left: auto; margin-right: auto; width: 640px;"><img src="~/Images/activities/cards.jpg"></p>
                        <h3>
                            From blackjack to texas hold 'em bring a deck of cards, and there's no limit to what kind of games you can play.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Activities around RSI</h2>
                        </header>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1u4XzhlEGuBX0NM1ibyu7o-eF9ck" width="640" height="480"></iframe>
                        <h3>
                            Downtown Albuquerque has a lot of activities to do after work, and also has a lot of nice places to eat.
                        </h3>
                    </section>
                </article>
                <hr />

            </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>