﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | Activities</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <div class="inner">
                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a> RSI Augusta Culture </a></h2>
                    </header>
                    <video style="display: block; margin-left:auto; margin-right:auto;" width="1280" height="785" controls>
                        <source src="~/Video/rsi_ags.mp4" type="video/mp4">
                    </video>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">

                        <header>
                            <h2 style="font-size:30pt;"> Ice Bucket Challenge </h2>
                        </header>
                        <iframe width="700" height="394" src="https://www.youtube.com/embed/qQdAs1wziNE" frameborder="0" allowfullscreen></iframe>
                        <h3>
                            The Ice Bucket Challenge, sometimes called the ALS Ice Bucket Challenge, is
                            an activity involving the dumping of a bucket of ice and water over a person's
                            head, either by another person or self-administered, to promote awareness of
                            the disease amyotrophic lateral sclerosis motor neurone disease and
                            encourage donations to research.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2 style="font-size:30pt;">Putting</h2>
                        </header>
                        <video style="display: block; margin-left:auto; margin-right:auto;" width="360" height="640" controls>
                            <source src="~/Video/ags_rsi.MOV" type="video/mp4">
                        </video>
                        <h3>
                            Putting is a relaxing, yet challenging game to test your trigonometry skills
                            as well as being fun!
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 700px">
                        <header>
                            <h2 style="font-size:30pt;">Ugly Sweater</h2>
                        </header>
                        <div class="rslides_container">
                            <ul class="rslides" id="slides1">
                                <li><img src="~/Images/act_ags/ugly.jpg" alt=""></li>
                                <li><img src="~/Images/act_ags/ugly2.jpg" alt=""></li>
                            </ul>
                            <h3>
                                Have you ever recieved an ugly sweater around the holidays and it's gathering
                                dust in the back of your closet? Well take it out of retirement this Winter
                                at RSI where we all come together with the ugliest of sweaters!
                            </h3>
                        </div>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 700px">
                        <header>
                            <h2>Activities around RSI</h2>
                        </header>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1i3AX_KmGLSNhaoLH7eTOG0vXYfg" width="700" height="480"></iframe>
                        <h3>
                            Hungry or just need something to do on your break around the building? Heres a map of things to do around RSI.
                        </h3>
                    </section>
                </article>
            </div>
        </div>

     

        <!-- Scripts -->
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>