﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | Activities</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

   

            <!-- Inner -->
            <div class="inner">

                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>

            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a> RSI Mobile Culture </a></h2>
                    </header>
                    <iframe style="display: block; margin-left: auto; margin-right: auto;" height="720" width="1280" src="https://www.youtube.com/embed/LWl33_hM7Ns" frameborder="0" allowfullscreen></iframe>

                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">

                        <h3>
                            RSI Mobile has plenty of things to do on your off time, from paper airplane competitions to card games, there are plenty of things to do here!
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2 style="font-size:30pt;"> Ice Bucket Challenge </h2>
                        </header>
                        <iframe width="360" height="640" src="https://www.youtube.com/embed/ZFBpM8AUo-g" frameborder="0" allowfullscreen></iframe>
                        <h3>
                            The Ice Bucket Challenge, sometimes called the ALS Ice Bucket Challenge, is
                            an activity involving the dumping of a bucket of ice and water over a person's
                            head, either by another person or self-administered, to promote awareness of
                            the disease amyotrophic lateral sclerosis motor neurone disease and
                            encourage donations to research.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2 style="font-size:30pt;">Costume Parties</h2>
                        </header>
                        <p style="display:block; margin-left: auto; margin-right: auto; width: 640px;">
                            <br />
                            <br />
                            <img style="-ms-transform: rotate(90deg);-webkit-transform: rotate(90deg);transform: rotate(90deg); width: 640px;" src="~/Images/act_mob/mob_2.jpg">
                            <br />
                            <br />
                            <br />
                        </p>
                        <h3>
                            Dress up however you'd like, this is your chance to have an alternate identity
                            for a day!
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 700px">
                        <header>
                            <h2 style="font-size:30pt;">Card Games</h2>
                        </header>
                        <p style="display:block; margin-left: auto; margin-right: auto; width: 700px;">
                            <img style="width: 700px;" src="~/Images/act_mob/mob_4.jpg">
                        </p>
                        <h3>
                            From blackjack to texas hold 'em bring a deck of cards, and there's no limit to what kind of games you can play.
                        </h3>
                    </section>

                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2 style="font-size:30pt;">Activities around RSI</h2>
                        </header>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1Rn-h4iyp9nsvZPNOqi9nTITM2xk" width="700" height="480"></iframe>
                        <h3>
                            Hungry or just need something to do on your break around the building? Heres a map of things to do around RSI.
                        </h3>
                    </section>
                </article>
            </div>
        </div>


        <!-- Scripts -->
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
</body>