﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | Activities</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});$(function(){$("#slides2").responsiveSlides({speed: 1000});});</script>
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

          

            <!-- Inner -->
            <div class="inner">

                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>

            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container">
                <article id="main" class="special">
                    <header>
                        <h2><a> RSI Jonesboro Culture </a></h2>
                    </header>
                    <a class="image featured"><img src="~/Images/act_jbr/darkside.jpg" alt="" /></a>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;"></section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2> Ice Bucket Challenge </h2>
                        </header>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/zVJQLXwet84" frameborder="0" allowfullscreen></iframe>

                        <h3>
                            The Ice Bucket Challenge, sometimes called the ALS Ice Bucket Challenge, is an activity involving the dumping of a bucket of
                            ice and water over a person's head, either by another person or self-administered,
                            to promote awareness of the disease amyotrophic lateral sclerosis motor neurone disease and encourage donations to research.
                        </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 480px">
                        <header>
                            <h2>Cleaning</h2>
                        </header>
                        <div class="rslides_container">
                            <ul class="rslides" id="slides1" style="width:480px">
                                <li><img src="~/Images/act_jbr/helping.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/more_looking.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/selfie.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/looking.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/cleaning.jpg" alt=""></li>
                            </ul>
                        </div>
                        <br />
                        <h3>We know they have super powers in coding but also they have a serect super power. Thier other super power is helping clean there community. Making Jonesbro look great again. </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 480px">
                        <header>
                            <h2>Ugly Sweater 2016 </h2>
                        </header>
                        <div class="rslides_container">
                            <ul class="rslides" id="slides2">
                                <li><img src="~/Images/act_jbr/shirt2.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/shirt1.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/shirt3.jpg" alt=""></li>
                                <li><img src="~/Images/act_jbr/shirt4.jpg" alt=""></li>
                            </ul>
                        </div>
                        <br />
                        <h3>The funniest contest in the world. The ugly sweater contest. Wear the uglyest sweater and win. Its that easy. Easy taking candy from a baby. </h3>
                    </section>
                    <section style="text-align: center; display: block; margin-left: auto; margin-right: auto; width: 60%;">
                        <header>
                            <h2>Activities around RSI</h2>
                        </header>
                        <iframe src="https://www.google.com/maps/d/embed?mid=1olORtQWEyjdUMvIqyuUfIXt2thE" width="640" height="480"></iframe>
                        <h3>Hungry or just need something to do on your break around the building? Heres a map of things to do around RSI.</h3>

                    </section>



                </article>
                <hr />

            </div>

        </div>

       

        <!-- Scripts -->
      
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>