﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Augusta</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Images/jquery.min.js"></script>
    <script src="~/Images/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

           

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        Augusta (AGS)<br />
                        1450 Greene Street - Augusta, GA 30901<br />
                        706.250.5403 - Eastern Time Zone

                    </h2>

                </header>
            </article>

            <a class="image featured"><img src="~/Images/augusta.jpg" alt="" /></a>

            <section>
                <div class="row" style="display: block; margin-left: auto; margin-right: auto; width: 532px;">
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/AGS_leader.jpg">
                        <h7>Doug Haines</h7>
                        <h7>Center Leader</h7>
                    </div>
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/AGS_hr.jpg">
                        <h7>Vanessa Soro</h7>
                        <h7>Center HR and Recruiting</h7>
                    </div>
                </div>
            </section>

            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    The Augusta Development Center is housed on the second
                    floor of an architecturally stunning former textile mill located
                    on the banks of the Augusta Canal near downtown. The
                    original 1840s grey granite brick building housed a flour mill.
                    The much larger red brick addition of 1877 marked the
                    property’s transition to a textile mill.

                </h3>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    The mill closed in 1983 and remained vacant for 15 years until
                    the space was transformed into offices and lofts. Perhaps its
                    most remarkable feature is the working hydroelectric plant
                    that provides all the electricity needed by the building tenants.
                    Furthermore, the plant is able to sell about one-third of its
                    output to the local electric utility company! How cool is that?
                </h3>
            </section>




        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>