﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | The Bench</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">



            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="textonly">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            The Bench<br />

                        </h2>
                        <section>
                            <h3>
                                It happens to just about everyone at some time or another: you wrap
                                up a project and you find yourself without a client for a few weeks,
                                waiting for a new project that requires your talents. In RSI-speak,
                                you’re “on the Bench.” While you’re waiting, you have the opportunity
                                to “sharpen the saw,” a term coined by self-help author Stephen R.
                                Covey to describe the processes of self-renewal and self-improvement.
                                Once you’re officially on the bench, a Bench Manager will contact you
                                to set up a short meeting to discuss your next steps (note that bench
                                managers are often project managers or technical leads who are at the
                                moment on the bench themselves).

                            </h3>
                        </section>

                        <section>
                            <h3>
                                Through our interview process we have determined that you
                                will be a valuable part of our team and a fitting addition to the
                                RSI culture. This document is a guide to help you get started.
                            </h3>
                        </section>
                        <section>
                            <h2 style="font-size:30pt;">
                                Individual Training Plan
                            </h2>
                            <h3>

                                Your bench manager will coach you as you develop a personal
                                training plan describing skills you want to learn or improve upon
                                during your time on the bench. Your bench manager will meet
                                with you regularly to hear about your progress and suggest
                                courses of action, especially when you encounter difficulties.
                            </h3>
                        </section>
                        <section>
                            <h2 style="font-size:30pt;">
                                Internal Project
                            </h2>
                            <h3>
                                In addition to working your training plan, you likely will be
                                recruited for an Internal RSI Project while you’re on the bench.
                                These projects run the gamut from creating an app to meet an
                                internal RSI need to working a pro bono project to benefit a local
                                nonprofit. Internal projects are a great way to hone your skills
                                and to try out new tools and techniques.
                            </h3>
                        </section>

                    </header>
                </article>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>