﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Centers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2><a>RSI Development Centers</a></h2>
                    </header>

                    <section>
                        <h3 style="text-align:center">From its Atlanta headquarters</h3>
                        <a href="hq.html" style="display: block; width:731px; margin-left: auto; margin-right: auto;"><img src="~/Images/centers/hq.jpg"></a>
                        <h3 style="text-align:center">RSI operates four Development Centers:</h3>
                    </section>

                    <h3>
                        <div class="row" id="people" style="display:block; margin-left: auto; margin-right: auto; width: 90%;">

                            <a href="jbr.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="front">
                                            <img src="~/Images/centers/arkansas_development.jpg">
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 6px; font-size: 19pt;">Jonesboro, Arkansas</h3>
                                </div>
                            </a>

                            <a href="ags.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="front">
                                            <img src="~/Images/centers/georgia_development.jpg">
                                        </div>
                                    </div>
                                </div>
                                <h3 style="text-align: center; margin-top: 6px; font-size: 19pt; ">Augusta, Georgia</h3>
                            </a>

                            <a href="mod.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="front">
                                            <img src="~/Images/centers/alabama_development.jpg">
                                        </div>
                                    </div>
                                </div>
                                <h3 style="text-align: center; margin-top: 12px; font-size: 19pt; ">Mobile, Alabama</h3>
                            </a>
                            <a href="abq.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="front">
                                            <img src="~/Images/centers/newmexico_development.jpg">

                                        </div>
                                    </div>
                                </div>
                                <h3 style="text-align: center; margin-top: 12px; font-size: 19pt;"> Albuquerque,New Mexico</h3>
                        </div>
                        </a>
                    </h3>


                    <section>
                        <br />
                        <br />

                        <h3>
                            …with more to come!
                            RSI looks for vacant, somewhat eclectic downtown
                            spaces to renovate. These revitalization efforts go a long
                            way to demonstrate RSI’s commitment to invest in the
                            local community; they also provide us with some pretty
                            cool workspaces, don’t you agree?
                            If you’re travelling in the neighborhood of another
                            Development Center, drop in and say, “Hi!
                        </h3>

                    </section>
                </article>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>