﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | New Hire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header" style="background-image: url('~/Images/fireworks.gif')">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <style>
                        h1 {
                            text-shadow: 2px 2px #000000;
                        }

                        p1 {
                            text-shadow: 1px 1px #000000;
                        }
                    </style>
                    <h1><a href="index.html">Congratulations!</a></h1>
                    <hr />
                    <p1>You got through the boring part, now it's time for the fun stuff!</p1>
                </header>
            </div>
        </div>


    </div>
 


   

 
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>

</body>