﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | About RSI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide ~/Images -->
    <link rel="stylesheet" href="assets/css/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>
</head>

<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Nav -->
            <script src="assets/js/navigation.js"></script>

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">

            <div class="container">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2><a>Albuquerque Colleagues</a></h2>
                    </header>
                    <div class="rslides_container">
                        <ul class="rslides" id="slides1">
                            <li><img src="~/Images/contact_abq.png" alt=""></li>
                            <li><img src="~/Images/contact_abq2.png" alt=""></li>
                        </ul>
                    </div>
                    <section>
                        <!-- Title for Colleagues
                        <header>
                            <h2 id="people"><img style="height: 64px;" src="~/Images/RSI-logo-BLACK.png"><br />Colleagues:</h2>
                        </header>
                        <br>
                        -->
                        <div class="row" id="people" style="display: block; margin-left: auto; margin-right: auto; width: 90%">
                            <a href="ColleagueBio/dominic_baca.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/dominic.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I regularly compete in amatuer mixed martial arts and jiu jitsu tournaments.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Dominic Baca</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/blaine_bachman.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/blaine.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size: 16pt;">Fun Fact: Other than a Bridgestone motorcycle and a Vespa SS180, I've never owned a motor vehicle that wasn't a VW.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Blaine Bachman</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/gail_berry.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/gail.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: Buffalo Bills Fan.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Gail Berry</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/paige_briggs.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/paige.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I participated in the Angel Fire Ragnar relay race in 2016.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Paige Briggs</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/bradley_brown.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/bradley.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I got to meet Willie Nelson</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Bradley Brown</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/shawn_charles.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/shawn.JPG">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I like girly romantic comedies.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Shawn Charles</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/edgar_chavez-garcia.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/edgar.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I had blonde hair when I was little.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Edgar Chavez Garcia</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/aaron_cordova.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/aaron.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:16pt;">Fun Fact: I like to powerlift. This is a competition sport where whoever lifts the most weight in the squat, bench, and deadlift wins.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Aaron Cordova</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/joe_dallacqua.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/user.png">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:16pt;">Fun Fact: My bachelor's degree is in Theatre Performance. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Joe Dallacqua</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/kevin_dilts.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/kevin.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:16pt;">Fun Fact: I'm learning to fly drones. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Kevin Dilts</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/matthew_ferguson.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/matt.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size:16pt;">Fun Fact: Developed software that made World Defense History. The first laser, airborne to airborne, hit on a ballistic missile in 2010</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Matthew Ferguson</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/tamra_fenstermaker.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/tamra.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size:16pt;">Fun Fact: Me and my family love Disney! Every year we go on a Disney vacation: Disneyland, Disney World, Disney Cruises.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Tamra Fenstermaker</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/stephen_gralton.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/stephen.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size:16pt;">Fun Fact: I was born and raised in the UK, and just became a US citizen on December 9th.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Stephen Gralton</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/andrew_kapuscinski.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/user.png">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size:16pt;">Fun Fact: I have a long last name.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Andrew Kapuscinski</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/bresdin_omalley.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/user.png">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size:16pt;">Fun Fact: I am also a professional dog trainer!</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Bresdin O'Malley</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/robert_montenegro.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/robert.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size: 14pt;">Fun Fact: I enjoy doing IoT firmware and electronics and creating devices that communicate through Bluetooth Low Energy (4.x) and really enjoy flying drones.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Robert Montenegro</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/israel_montoya.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/israel.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: Custom gaming computers are life.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Israel Montoya</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/john_nenninger.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/john.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I am a soccer junky. I love to play, coach, and watch whenever I get the chance.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">John Nenninger</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/spencer_nichols.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/spencersm.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white; font-size: 14pt;">Fun Fact: Huge motor sports fan. Formula 1, World Rally Championship, World Endurance Championship, anything with left AND right turns. If it's on, I'm probably watching it.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Spencer Nichols</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/kevin_ornellas.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/kevinsm.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I am invincible!</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Kevin D'Ornellas</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/william_ peters.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/william.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I practice programming for game development on my free time.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">William Peters</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/roman_piatrou.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/roman.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I'm fluent in Russian.</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Roman Piatrou</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/skye_roseboom.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/skye.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I am an avid comicbook reader. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Skye Roseboom</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/mark_scott.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/mark.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size: 14pt;">Fun Fact: I’ve lived in New Mexico most of my life. Mainly in the Albuquerque area. Also lived in Lacey, WA south of Seattle and Germany for two years when I was in the Air Force. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Mark Scott</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/chris_siler.html">
                                <div class="col-xs-12 col-md-3">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/chris.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: Married, Have 2 Corgis, Tabletop fanatic, Metalhead, Guitarist </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Chris Siler</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/ryan_sloan.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/ryan.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:16pt;">Fun Fact:I lived in Turkey for a year at the age of 17 as an exchange student and learned to speak the Turkish language. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Ryan Sloan</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/jackson_stakeman.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/jackson.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:16pt;">Fun Fact:Lactose intolerant and allergic to chocolate!</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Jackson Stakeman</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/ray_telles.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/ray.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: Come spring, I love to go whitewater rafting. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Ray Telles</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/martin_ tice.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/martin.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I can do a backflip. (I hope I can still)</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Martin Tice</h3>
                                </div>
                            </a>

                            <a href="ColleagueBio/serah_tyler.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/serah.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;font-size:13pt;">Fun Fact: Serah has a Master's degree in Speech Language Pathology and Traumatic Brain injury. After spending time in the field, she took a totally different career path and loves what she does now! </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Serah Tyler</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/eduardo_vazquez.html">
                                <div class="col-xs-12 col-md-5">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/eduardo.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I love soccer. Soccer is life! </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Eduardo Vazquez</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/nicolas_zapata.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/nicolas.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I am a huge Video Game fan! </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Nicolas Zapata</h3>
                                </div>
                            </a>
                            <a href="ColleagueBio/brett_zelk.html">
                                <div class="col-xs-12 col-md-4">
                                    <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                        <div class="flipper">
                                            <div class="front">
                                                <img src="~/Images/profiles/brettsm.jpg">
                                            </div>
                                            <div class="back">
                                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                                <h3 style="color: white;">Fun Fact: I am currently working on a Windows based isometric game in my free time. </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 style="text-align: center; margin-top: 12px;">Brett Zelk</h3>
                                </div>
                            </a>
                        </div>
                    </section>
                </article>
                <hr />
                <section style="display:block; margin-left: auto; margin-right: auto; width: 60%;">
                    <p class=Title style='margin-left:.5pt; text-align: center'>
                        <span style='font-size:36.0pt;line-height:119%;color:red'>
                        </span>
                        <b>
                            <span style='font-size:48.0pt;line-height:119%;color: #D00'>
                                Referral Program
                            </span>
                        </b>
                    </p>
                    <p class=SubTitle style='text-align: center;'>
                        <b>
                            <span>
                                What’s better than working with friends? Getting paid to refer them!
                            </span>
                        </b>
                    </p>
                    <h2 style="text-align:center;">
                        <b>How do you refer someone?</b>
                    </h2>
                    <br />
                    <p class=Paragraph style='text-align: center;'>
                        Encourage your candidate to apply via the RSI career page. During the<br>
                        interactive application process, there’s an option to specify a referrer.<br>
                        Email the Recruiting team as well to point out your referral. If the<br>
                        candidate is hired, you should receive your referral bonus on the first<br>
                        pay date after they start. More information can be found here.<br>
                    </p>

                    <p>
                        <img src="./todo/referrals.png" style="display:block; margin-left: auto; margin-right: auto; width: 100%;" />
                    </p>
                </section>
                <a href="#people" style="display:block;margin-left: auto;margin-right:auto; width: 42%;" class="button circled scrolly">Back to People</a>
            </div>
        </div>

        <!-- Footer -->
        <script src="assets/js/socialmedia.js"></script>

        <!-- Scripts -->
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>
