﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Core Value,</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        Core Values
                    </h2>
                    <h3>
                        At RSI, we believe our Core Values define who we are as a <br />
                        company. Now is a good time for you to get acquainted with <br />
                        them. Here is a video
                        featuring our Chief Operating Officer,
                        Ingrid Miller, with the details.
                    </h3>

                    <video class="video1" width="1280" height="785" controls>
                        <source src="~/Video/CoreValues.mov" type="video/mp4">
                    </video>

                </header>
            </article>
        </div>
        <div>
            <img style="display: block; margin-left: auto; margin-right:auto; max-width:960px; width:100%;" src="~/Images/corevalues.PNG" alt="" />
        </div>
    </div>
    <!-- Footer -->
    <script src="../assets/js/socialmedia.js"></script>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>