﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Centers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">


            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="textonly">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            Glossary<br />

                        </h2>
                        <section>
                            <h2 style="font-size: 30pt;">
                                Actuals
                            </h2>
                            <h3>
                                Actual hours worked, actual amount spent or charged (as
                                opposed to estimated hours or amounts).

                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Delivery Executive (DE)
                            </h2>
                            <h3>
                                A colleague responsible for Client relationship,
                                participates in monthly calls & lessons learned sessions, drives new
                                business opportunities (with the sales department), and endorses
                                internally-made resourcing decisions.
                            </h3>
                        </section>
                        <section>
                            <h2 style="font-size: 30pt;">
                                Delivery Manager (DM)
                            </h2>
                            <h3>
                                A colleague responsible for project delivery,
                                creatively resolving delivery issues, participating in weekly and
                                monthly meetings, ensuring the team exceeds client expectations,
                                builds relationships with the client team.
                            </h3>
                        </section>


                        <section>
                            <h2 style="font-size: 30pt;">
                                Laboratory Information Management System (LIMS)
                            </h2>
                            <h3>
                                A softwarebased
                                laboratory and information management system with
                                features that support a modern laboratory's operations.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Master Service Agreement (MSA)
                            </h2>
                            <h3>
                                A contract reached between
                                parties, in which the parties agree to most of the terms that will
                                govern future transactions or future agreements.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Non-Disclosure Agreement (NDA)
                            </h2>
                            <h3>
                                A legal contract between at least
                                two parties that outlines confidential material, knowledge, or
                                information that the parties wish to share with one another for
                                certain purposes, but wish to restrict access to or by third parties. It
                                is a contract through which the parties agree not to disclose
                                information covered by the agreement.

                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Project Lead
                            </h2>
                            <h3>
                                A colleague responsible for project delivery within a
                                project, develops and reports status to client weekly or as
                                requested, serves as a point of contact for issues (and kudos!!), does
                                great work, and continues to demonstrate how RSI can solve the
                                client’s business challenges.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Project Manager (PM)
                            </h2>
                            <h3>
                                A colleague responsible for the planning,
                                organization, resource management, and discipline pertaining to the
                                successful completion of a specific project or objective.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Professional Services (PS)
                            </h2>
                            <h3>
                                Jobs that require special education or training
                                in order to perform day to day tasks. Professional services
                                occupations include professionals like lawyers, doctors, architects,
                                engineers, and technology developers. Professional services firms.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Quality Assurance (QA)
                            </h2>
                            <h3>
                                The planned and systematic activities
                                implemented in a quality system so that quality requirements for a
                                product or service will be fulfilled.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Statement of Work (SOW)
                            </h2>
                            <h3>
                                A document routinely employed in the
                                field of project management. It defines project-specific activities,
                                deliverables, and timelines for a vendor providing services to the
                                client.

                            </h3>
                        </section>


                        <section>
                            <h2 style="font-size: 30pt;">
                                Team Member
                            </h2>
                            <h3>
                                A colleague responsible for delivering tasks, advising
                                and being advised by other team members and the Project Lead,
                                and raising red flags, when encountered, to the Project Lead.

                            </h3>
                        </section>

                        <section>
                            <iframe src="https://docs.google.com/a/ruralsourcing.com/forms/d/e/1FAIpQLScpJ557Tnlf7qkF2cHPjNlWGU1fN0oiNRYMKnB4RmxB-L7Sew/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </section>
                    </header>
                </article>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>
