﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | HQ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Nav -->
            <script src="../assets/js/navigation2.js"></script>

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        RSI Headquarters (ATL)<br />

                        817 West Peachtree St., Suite 550 - Atlanta, GA 30308<br />

                        404.873.9500 - Eastern Time Zone<br />

                    </h2>

                </header>
            </article>

            <a class="image featured"><img src="~/Images/atlanta.jpg" alt="" /></a>


            <section>
                <h3 style="text-align: center;">
                    Our headquarters are in Atlanta, the capital of Georgia and its
                    most populous city. It is home to 5.5 million people, making it
                    the ninth largest metropolitan area in the United States.
                    Our office is in the  Atlanta Biltmore Hotel,  which was developed by
                    William Candler, son of Coca-Cola founder Asa Candler. Opened on April 19, 1924, the 11-story
                    hotel is located north of downtown Atlanta, in anarea now known as Midtown. It is easily distinguished by the
                    towering radio masts on each end of the building, with
                    illuminated vertical letters that spell out "BILTMORE".
                </h3>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>
