﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />
    <title>Rural Sourcing Inc. | New Hire</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->


</head>
<body class="homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header">

            <!-- Inner -->
            <div class="inner">
                <header>
                    <style>
                        h1 {
                            text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
                            -webkit-font-smoothing: antialiased;
                        }

                        p1 {
                            text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
                            -webkit-font-smoothing: antialiased;
                            font-size: 42px;
                        }
                    </style>
                    <h1><a id="logo">Rural Sourcing Inc. - First Day</a></h1>
                    <hr />
                    <p1>Welcome to RSI, we are happy to have you!</p1>
                </header>
                <footer>
                    <a href="#banner" class="button circled scrolly">Start</a>
                </footer>
            </div>

          
        </div>

        <!-- Main -->
        <section id="banner">
            <div class="wrapper style2">

                <article id="main" class="container special">
                    <header>
                        <h2><a>Welcome to RSI</a></h2>
                        <br />
                        <h3>
                            It’s your first day. You made it through the interviews, the offer
                            process, the paperwork, and today you have become a bona fide RSI Colleague!
                        </h3>
                    </header>
                    <h3>
                        We are excited that you have joined our team and want to make sure we get all of those looming
                        questions answered and all of the little things set up and out of the way. We have a busy day ahead for you and
                        a list of things we’d like to make sure to get through, so let’s get started!
                    </h3>

                    <footer>
                        <a href="todo.html" class="button">Start the To-Do list!</a>
                    </footer>
                    <br>
                    <a class="image featured"><img style="image-rendering:auto; max-width: 720px; margin-left:auto; margin-right:auto;" src="~/Images/RSI-color-logo-LARGE.png" alt="" /></a>
                </article>

            </div>
        </section>
    </div>


    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>

</body>