﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Centers</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

  

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="textonly">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            IT Security<br />

                        </h2>
                        <section>
                            <h2 style="font-size: 30pt;">
                                Password Privacy
                            </h2>
                            <h3>

                                RSI’s password policy requires you to change your password
                                every 180 days. When your password is about to expire, you’ll
                                receive an automated notification at logon and you will have a
                                several day grace period in which to complete the task. The
                                password can only be reset when your workstation is logged on
                                to the RSI network (not while working remotely). This will
                                automatically change your Gmail and OpenAir passwords as well.
                                For questions please email:
                                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=infrastructure@ruralsourcing.com" target="_blank">
                                    <u>infrastructure@ruralsourcing.com.</u>
                                </a>
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                RSI Software Portal
                            </h2>
                            <h3>

                                Dozens of user-installable apps are available on the RSI
                                Software Portal. To open the Portal, click the shortcut on
                                your desktop. If you need an app not found in the Portal, submit
                                a support ticket.

                            </h3>
                        </section>
                        <section>
                            <h2 style="font-size: 30pt;">
                                LANDesk
                            </h2>
                            <h3>
                                LANDesk:
                                When you finish for the day, restart your workstation (let it boot
                                up but do not log on). This allows LANDesk to access your PC
                                overnight, apply updates, and restart as needed. If you do this
                                each evening it reduces the length of time required for updates
                                and provides you an updated and secure workstation.
                            </h3>
                        </section>

                        <section>
                            <h2 style="font-size: 30pt;">
                                Physical Security
                            </h2>
                            <h3>

                                If you don’t receive an access card or key fob along with training
                                on how to enter and exit your facility safely and securely, ask your
                                Manager, HR, or DCL.

                            </h3>
                        </section>
                    </header>
                </article>
                <br />
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            IT Frequently Asked Questions<br />

                        </h2>
                        <section>
                            <h3>
                                Q: When I leave for the day what do I do with my computer?
                            </h3>
                        </section>

                        <section>
                            <h3>
                                A: If you are not taking your computer home with you, simply
                                restart your system and leave it at the CTRL+ALT+DEL screen as
                                opposed to shutting it down for an evening nap; If you shut
                                your workstation down at night, the IT ninjas will find you and
                                thrash you!

                                <br />

                                If you are taking your laptop home, shut it down, undock it,
                                and then carry it in a protective case or bag.


                            </h3>
                        </section>
                        <section>
                            <h3>
                                Q: Do I really need to log on fresh each morning? Why?
                            </h3>
                        </section>
                        <section>
                            <h3>
                                A: Yes. Restarting the workstation at the end of your day and
                                logging on fresh each morning allows the workstation to remain
                                up to date and “clears out the cobwebs” for maximum
                                performance.
                            </h3>
                        </section>
                        <section>
                            <h3>
                                Q: Can I dock and undock my laptop without shutting it down?
                            </h3>
                        </section>
                        <section>
                            <h3>
                                A: It’s probably best to do this with the laptop shut down. Not
                                because there’s any risk of damage, but we’ve found that
                                “hot” docking and undocking sometimes causes the wireless
                                connection to misbehave.
                            </h3>
                        </section>
                        <section>
                            <iframe src="https://docs.google.com/a/ruralsourcing.com/forms/d/e/1FAIpQLScksUPhj1_1P-0UnDjli0feg9wxXoyh4I_RFTvDgOoE4uAikQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </section>
                    </header>
                </article>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <script src="../assets/js/socialmedia.js"></script>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>