﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Jonesboro </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

       

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        Jonesboro (JBR)<br />
                        200 South Main Street - Jonesboro, AR 72401 <br />
                        870.819.3082 - Central Time Zone
                    </h2>

                </header>
            </article>

            <a class="image featured"><img src="~/Images/jonesboro.jpg" alt="" /></a>

            <section>
                <div class="row" style="display: block; margin-left: auto; margin-right: auto; width: 532px;">
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/JBR_leader.jpg">
                        <h7>Darrell Runyan</h7>
                        <h7>Center Leader</h7>
                    </div>
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/JBR_hr.jpg">
                        <h7>Jennifer Rorex</h7>
                        <h7>Center HR and Recruiting</h7>
                    </div>
                </div>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    Jonesboro is the largest city in northeast Arkansas, a center of
                    agriculture and industry, and home to Arkansas State
                    University (Go Red Wolves!). The city was named for State
                    Senator William A. Jones. Originally spelled Jonesborough, the
                    city name was later shortened.
                </h3>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    RSI’s first Development Center is in Jonesboro’s historic
                    downtown where many buildings date back to the late 19th
                    century. This Development Center first took root in 2003 at
                    ASU’s Delta Center for Economic Development, a business
                    incubator for new startups. Initially, RSI set up shop in an oncampus
                    building but before long was able to relocate to the
                    current downtown office.
                </h3>
            </section>
        </div>
    </div>

    <!-- Footer -->
    <script src="../assets/js/socialmedia.js"></script>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>