﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Leaders</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

          

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></h7>
            </div>
        </div>

        <!-- Main -->
        <leaders id="leaders">
            <div class="wrapper style1">
                <div class="container">
                    <article id="main" class="special">
                        <header class="no-gutter">
                            <h2><a>RSI Leaders</a></h2>
                        </header>
                    </article>
                    <section>
                        <h3 style="text-align:center">Folks to know at RSI</h3>
                    </section>
                    <div class="row" style="display:block;margin-left:auto;margin-right:auto;width:90%">
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/ceo.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:14pt">
                                            Monty leads the executive team and drives the overall
                                            strategy for Rural Sourcing Inc. Monty directs the growth of
                                            RSI and is working to launch 10 new high-tech hubs over the
                                            next few years.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Monty Hamilton</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Chief Executive Officer</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/coo.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:15pt">
                                            Ingrid implements RSI’s vision to provide US-based high
                                            quality IT outsourcing solutions through her management and
                                            oversight of all RSI Development Centers.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Ingrid Miller</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Chief Operating Officer</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/cfo.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:15pt">
                                            Tre is responsible for the company’s overall financial strategy
                                            and implementing the infrastructure needed to sustain RSI’s
                                            rapid growth and expansion plans.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Tre Sasser</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Chief Financial Officer</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/cso.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:15pt">
                                            Alex is responsible for the day-to-day leadership and
                                            management of the RSI sales organization, for identifying new
                                            revenue initiatives, and for establishing channels.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Alex Bruce</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Chief Sales Officer</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/vp_hr.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:13.5pt">
                                            Margaux is the leader of Human Resources and Recruiting .
                                            Her responsibilities include talent acquisition, employee
                                            relations, and colleague development across all
                                            Development Centers.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Margaux Kaynard</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">VP - Human Resources</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/vp_p.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:15pt">
                                            Scott is responsible for expanding RSI practice areas,
                                            identifying new service opportunities, and fostering
                                            cohesiveness across Development Centers.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Scott Monnig</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">VP - Professional Services</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/vp_sd.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:10.6pt">
                                            Jason is responsible for developing new and existing longterm
                                            relationships with RSI’s clients that result in successful
                                            professional services engagements within our practice areas.
                                            He is the main client contact and facilitates client and project
                                            management activities including project kickoff, delivery,
                                            quality review, and ongoing opportunity identification.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Jason Ward</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">VP - Service Delivery</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/vp_i.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:17pt">
                                            Derek is responsible for developing innovative and strategic
                                            service offerings, and implementing solutions for our clients.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Derek Perry</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">VP - Innovation</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/rm.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:19pt">
                                            Sydnee works with a team to match colleagues’ skill sets
                                            with available projects.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Sydnee Strellis</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Resource Manager</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/jackie.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:28pt">
                                            HR Generalist
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Jackie Olliff</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">HR Generalist</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/cherilyn .jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:21pt">
                                            Recruiting Manager <br /> <br />

                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Cherilyn Hickman</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Recruiting Manager</h3>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                            <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                <div class="flipper">
                                    <div class="front">
                                        <img src="~/Images/leaders/stoney.jpg">
                                    </div>
                                    <div class="back">
                                        <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                        <h3 style="color: white; font-size:16pt">
                                            Recruiting and Administrative Coordinator <br /> <br />
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px;">Stoney Schaffer</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Recruiting and</h3>
                            <h3 style="text-align: center; margin-top: 6px;font-size:16pt;">Administrative Coordinator</h3>
                        </div>
                    </div>
                </div>
            </div>
        </leaders>
    </div>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>