﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>
<!--
    RSI New Hire About RSI page using Helios by HTML5 UP - html5up.net |
    by: Israel Montoya - israel.montoya@ruralsourcing.com
-->
<html>
<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | HQ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <!-- Requirements for slide images -->
    <link rel="stylesheet" href="~/Content/responsiveslides.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>$(function(){$("#slides1").responsiveSlides({speed: 1000});});</script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

    

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <article id="main" class="special">
                <header class="no-gutter">
                    <h2>
                        Mobile (MOB)<br />
                        455 Saint Louis Street, Suite 1100 - Mobile, AL 36602<br />
                        251.544.9620 - Central Time Zone<br />
                    </h2>

                </header>
            </article>

            <a class="image featured"><img src="~/Images/mobile.jpg" alt="" /></a>

            <section>
                <div class="row" style="display: block; margin-left: auto; margin-right: auto; width: 532px;">
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/MOD_leader.jpg">
                        <h7>Trey Sparks</h7>
                        <h7>Center Leader</h7>
                    </div>
                    <div style="width: 266px;" class="container">
                        <img src="~/Images/centerLeaders/MOD_hr.jpg">
                        <h7>Reanna Reach</h7>
                        <h7>Center HR and Recruiting</h7>
                    </div>
                </div>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    The Mobile Development Center is located on the former
                    showroom floor of the so called “Buick Building” built in 1926
                    by the Turner Todd Motor Company. In 2008, the then vacant
                    building was placed on the National Register of Historic Places
                    which opened new avenues for its eventual rehabilitation and
                    reuse.


                </h3>
            </section>
            <section style="text-align:center; width: 60%;display: block; margin-left: auto;margin-right:auto;">
                <h3>
                    The building infrastructure was completely modernized in 2014
                    and 2015 leaving key architectural and structural details, like
                    the vintage Buick logos on the building cornices, in place and
                    restored to their original appearance. The rehabilitation
                    consumed the better part of a year during which the Mobile
                    Team set up shop in a succession of two temporary office
                    spaces.
                </h3>
            </section>
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>
</html>