﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="../image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | RSI Culture</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>



</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2><a>RSI Culture</a></h2>
                    </header>
                    <div class="video-container">
                        <iframe style="display: block; margin-left: auto; margin-right: auto;" height="480" width="960" src="https://www.youtube.com/embed/j91Sk9WEjUI" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <section style="text-align: center; width: 80%; display: block; margin-left: auto; margin-right: auto;">
                        <header>
                            <h2 style="font-size: 30pt;">Cultural Ambassador</h2>
                        </header>
                        <img src="~/Images/culturalambassador.PNG">
                        <h3>
                            Cultural Ambassadors organize monthly activities for their Development Center and collaborate in sponsoring company-wide quarterly events.
                            We also host a Summer Party and a Holiday Celebration.
                        </h3>
                        <h3>
                            Our annual <b><i>Nerd-Lympics</i></b> is a workplace field day of events like paper airplane contests and Nerf blaster competitions.
                        </h3>
                    </section>
                    <h2 style="font-size: 30pt; text-align: center;">
                        Click on your center to see what activities there are to do!
                    </h2>
                    <br />
                    <div class="row" style="display:block; margin-left: auto; margin-right: auto; width: 90%;">
                        <a href="../activities_jbr.html">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                    <div class="front">
                                        <img src="~/Images/act_jbr/jbr.JPG">
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px; font-size: 19pt;">Jonesboro, Arkansas</h3>
                        </a>
                        <a href="../activities_ags.html">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                    <div class="front">
                                        <img src="~/Images/act_ags/ags.JPG">
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px; font-size: 19pt; ">Augusta, Georgia</h3>
                        </a>
                        <a href="../activities_mod.html">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                    <div class="front">
                                        <img src="~/Images/act_mob/mob.JPG">
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px; font-size: 19pt; ">Mobile, Alabama</h3>
                        </a>
                        <a href="../activities.html">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                <div class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                                    <div class="front">
                                        <img src="~/Images/activities/abq.JPG">
                                    </div>
                                </div>
                            </div>
                            <h3 style="text-align: center; margin-top: 12px; font-size: 19pt;">Albuquerque, New Mexico</h3>
                        </a>
                    </div>

                </article>
                <br />
            </div>
        </div>

        <!-- Scripts -->
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>