﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | The Source</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

          

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="textonly">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            The Source
                        </h2>
                    </header>
                    <section>
                        <h3 style="text-align:center">
                            RSI’s internal website for employees is called The Source.
                            There you will find recent company news, links to popular internal resources,
                            information about upcoming events, and instructions on how to
                            accomplish administrative tasks like requesting PTO, changing your
                            benefits elections, and arranging for work-related travel.
                        </h3>
                        <br />
                        <h3 style="text-align:center">
                            Take a few moments to check out this online resourse through the RSI Network. Click on the image to explore the source.
                            <a href="https://sites.google.com/a/ruralsourcing.com/the-source/?pli=1" class="image featured" style="display: block; margin-left: auto;margin-right:auto; width: 75%;">
                                <img style="object-fit: cover; height: 500px;" src="~/Images/source.jpg" alt="" />
                            </a>
                        </h3>
                    </section>
                </article>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>