﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

            

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></h7>
            </div>
        </div>

        <!-- Main -->
        <div class="wrapper style1">
            <div class="container">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2><a>Training</a></h2>
                    </header>
                    <div style="display:block; margin-left:auto; margin-right:auto; width:256px;" class="flip-container" ontouchstart="this.classList.toggle('hover'); ">
                        <div class="flipper">
                            <div class="front">
                                <img src="~/Images/it_training/elizabeth.jpg">
                            </div>
                            <div class="back">
                                <img style="width: 128px;" src="~/Images/RSI-logo-WHITE.png" />
                                <h3 style="color: white; font-size:13pt">
                                    “In keeping with our Core Value to ‘Advance and
                                    Innovate our Skills and Practices’, RSI is committed to
                                    keep up with developments affecting our industry and
                                    to provide valuable training opportunities to our
                                    colleagues.”
                                </h3>
                            </div>
                        </div>
                    </div>
                    <h3 style="text-align: center; margin-top: 8px;">Elizabeth Cahill</h3>
                    <h3 style="text-align: center; margin-top: 8px;">Training and Bench Manager</h3>

                    <div class="textonly">
                        <section>
                            <h2 style="text-align:center;font-size: 30pt;">Mentoring</h2>
                            <h3 style="text-align:center;">
                                Your mentor, usually a member of your practice area, can provide
                                answers to your questions and concerns regarding your ongoing
                                tasks and responsibilities.
                            </h3>
                        </section>

                        <section>
                            <h2 style="text-align:center;font-size: 30pt;">Practice Area Resources</h2>
                            <h3 style="text-align:center;">
                                Each practice area (Software Development, Enterprise
                                Applications, Quality Assurance, and Project Management)
                                maintains a list of training resources that you can use to improve
                                your practice area skills. Most of these resource can be accessed
                                from RSI’s internal website, <a href="https://sites.google.com/a/ruralsourcing.com/the-source/?pli=1" target="_blank"> <u>The Source.</u></a>
                            </h3>
                        </section>

                        <section>
                            <h2 style="text-align:center;font-size: 30pt;">Subscription Training Services</h2>
                            <h3 style="text-align:center;">
                                RSI has a subscription to
                                <a href="https://www.pluralsight.com/" target="_blank"> <u>Pluralsight</u></a>,
                                an online education service
                                offering a variety of training courses for software developers, IT
                                administrators, and other professionals. Also included is access to

                                the more structured content of
                                <a href="https://www.codeschool.com/" target="_blank"> <u>Code School</u></a>.. Contact
                                <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=elizabeth.cahill@ruralsourcing.com" target="_blank"> <u>Elizabeth Cahill</u></a>
                                for logon credentials to access these services.
                            </h3>
                        </section>
                    </div>
                </article>
            </div>
        </div>

    

        <!-- Scripts -->
        <script src="~/Scripts/jquery.dropotron.min.js"></script>
        <script src="~/Scripts/jquery.scrolly.min.js"></script>
        <script src="~/Scripts/jquery.onvisible.min.js"></script>
        <script src="~/Scripts/skel.min.js"></script>
        <script src="~/Scripts/util.js"></script>
        <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="~/Scripts/main.js"></script>
</body>
