﻿@{
    ViewBag.Title = "Home Page";
}


<head>
    <!-- RSI Favicon -->
    <link rel="icon" type="image/png" href="../favicon.png" />
    <title>Rural Sourcing Inc. | Training</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../assets/css/ie8.css" /><![endif]-->
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body class="no-sidebar">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="redbar"></div>
        <div id="header1">

          

            <!-- Inner -->
            <div class="inner">
                <br>
                <br>
                <h7><a href="../index.html"><p style="text-align:center;"><img style="width: 256px;" src="~/Images/RSI-color-logo.png"></p></a></h7>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="textonly">
                <article id="main" class="special">
                    <header class="no-gutter">
                        <h2>
                            What Is RSI
                        </h2>
                        <section>
                            <h3>
                                Rural Sourcing Inc. was founded with the goal of connecting
                                companies with talented, highly qualified IT professionals living
                                in smaller cities across the United States. Our colleagues can
                                live in high quality-of-life, low cost-of-living areas while
                                working on a variety of interesting, collaborative, and
                                challenging projects.
                            </h3>
                        </section>
                        <section>
                            <h3>
                                Through our interview process we have determined that you
                                will be a valuable part of our team and a fitting addition to the
                                RSI culture. This document is a guide to help you get started.
                            </h3>
                        </section>
                        <section>
                            <h2 style="font-size: 30pt;">
                                Elevator Pitch <br />
                            </h2>
                            <h3>

                                What if you found yourself stuck in an elevator and someone
                                asks what you do and what your company does? You might say
                                something like this:
                            </h3>
                            <br />
                            <h3>
                                “I’m a _______ at Rural Sourcing Inc. We develop software solutions for Fortune 500 clients by employing the
                                talent found in smaller cities. This gives our clients the option to outsource economically without sending
                                jobs overseas.”
                            </h3>
                            <br />
                            <h3>
                                Take a moment to create your own Elevator Pitch.
                            </h3>
                        </section>
                    </header>
                </article>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <script src="~/Scripts/jquery.dropotron.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.onvisible.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Scripts/main.js"></script>
</body>
